.map {
    height: 300px;
}

/*Eliminar bordes para mostrar el recibo de Cobro */
.table.no-border tr td, .table.no-border tr th {
	border-width: 0;
	font-size: 12px; 	
	padding:1px;
}

.clientes-filter-clear-do{
    position: absolute;
    right: 40px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

.table-cborder { border: 1px solid black; }	

.table-cborder tr td, .table-cborder tr th{
	font-size: 12px; 	
	padding:1px;
	border: 1px solid black;
}