.dz-preview, .dz-file-preview
{
    display: none;
}

.modal-body {
    padding: 15px 20px 20px 20px;
}
.cliente-modal-header {
    padding: 15px !important;
}
.wizard > .content > .body {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.wizard-big.wizard > .content{
    overflow-y: auto;
}

.border-right {
    border-right: 1px solid #999999; 
}

.clientes-filter-clear-do{
    position: absolute;
    right: 40px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#clientes-datatable .dataTables_empty {
    text-align: center;
}
#mensaje-shortcut {
    position: absolute;
    z-index: 1000;
    bottom: 22px;
    font-size: 15px;
    font-weight: bold;
}

#clientes-datatable_wrapper th{
    white-space: nowrap;
}
.no-close .ui-dialog-titlebar-close {display: none }

#map {
    height: 100%;
    width: 100%;
}


/****estilizado de infput tipo_cliente ***/
label.label_tipo_cliente {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #D1D3D4
}

/* hide input */
input.radio_tipo_cliente:empty {
    /*margin-left: -999px;*/
    margin-top: -10px;
    visibility: hidden;
}

/* style label */
input.radio_tipo_cliente:empty ~ label.label_tipo_cliente {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio_tipo_cliente:empty ~ label.label_tipo_cliente:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio_tipo_cliente:hover:not(:checked) ~ label.label_tipo_cliente:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio_tipo_cliente:hover:not(:checked) ~ label.label_tipo_cliente {
    color: #888;
}

/* toggle on */
input.radio_tipo_cliente:checked ~ label.label_tipo_cliente:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio_tipo_cliente:checked ~ label.label_tipo_cliente {
    color: #777;
}

div.dataTables_wrapper div.dataTables_paginate {
    white-space: nowrap !important;
}

#contenedor-filtros.clientes-only .clientes-filter-clear-do{
    position: absolute;
    right: 16px;
    z-index: 10;
    top: 23px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#clientes-nombre-val, #clientes-clave-val {
    padding-right: 30px;
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: right !important;
        text-align: center;
    }
}

@media screen and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
        /*text-align: right;*/
        float: none !important;
    }
}

div.dataTables_wrapper div.dataTables_filter input{
    width: 100% !important;
    /*background: white;*/
}
/*.dataTables_filter label {*/
    /*display: inline-block !important;*/
/*}*/

/*.dataTables_wrapper .dataTables_filter {*/
    /*width: 100%;*/
    /*!* float: left !important; *!*/
    /*!* margin-left: 0px; *!*/
    /*padding: 5px;*/
    /*!* background-color: #f9f9f9; *!*/
    /*!* border-bottom: 1px solid #777; *!*/
/*}*/

