#colonias-filter-clear-do{
    position: absolute;
    right: 40px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#colonias-filter-text{
    padding-right: 30px;
}
.colonias-scroll{
    overflow-x: auto;
    clear: both;
}

#colonias-datatable-container th, #colonias-datatable-container td{
    white-space: nowrap;
}
#colonias-datatable tr{
    cursor: pointer;
}
#colonia-info-modal .row {
    margin-bottom: 5px;
}
#colonia-info-modal .min-margin{
    padding-right: 5px;
    padding-left: 0px;
}

#colonias-datatable-container div.dt-buttons {
    /*position: absolute;*/
    /*right: 28px;*/
    /*top: -55px;*/
    float: right;
    text-align: right;
}

.colonia-toolbar{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.colonia-required {
    color: #337ab7;
    font-weight: bold;
}