.modal-body {
    padding: 15px 20px 20px 20px;
}

.sorting_1{
  white-space: nowrap;
}

.buttons-excel{
  margin-right: 10px;
}

.modal-dialog {
  z-index: 1050;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  color:green;
  font-weight: bolder;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.cliente-modal-header {
    padding: 15px !important;
}
.wizard > .content > .body {
    width: 95%;
    height: 95%;
    padding: 10px;
}
.border-right {
    border-right: 1px solid #999999; 
}

.al-right{
    text-align: right;
}
.pb{
    margin-top: 5px;
}

.form-group {
    margin-bottom: 15px !important;
}

.clientes-filter-clear-do{
    position: absolute;
    right: 40px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#clientes-datatable .dataTables_empty {
    text-align: center;
}
#mensaje-shortcut {
    position: absolute;
    z-index: 1000;
    bottom: 22px;
    font-size: 15px;
    font-weight: bold;
}

#contenedor-filtros.navbar-collapse.in {
    overflow-y: inherit !important;
}