.oculto
{
    display: none;
}

.queja-filter-clear-do{
    position: absolute;
    right: 40px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#queja-datatable .dataTables_empty {
    text-align: center;
}

.item-divider{
	height: 1px;
	border: 1px solid #BDBDBD !important;
	bottom: 5px !important;
}