#reports-datatable-container
.dataTables_wrapper
.dataTables_scroll
div.dataTables_scrollBody td{
    white-space: nowrap;
}

#reports-datatable-container td{
    white-space: nowrap;
}

#reports-datatable-container th{
    white-space: nowrap;
}

#reports-datatable-container
 table.dataTable thead .sorting{
    white-space: nowrap;
}
.reports-filter-clear-do{
    position: absolute;
    right: 39px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#reports-datatable_wrapper div.dt-buttons{
    position: absolute;
    right: 0;
    top: -100px;
}
#reports-filter-text{
    padding-right: 30px;
}
.reports-border-last-filter{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.reports-scroll{
    overflow-x: auto;
    clear: both;
}
#reports-datatable_wrapper.dataTables_wrapper .dataTables_filter{
    background-color: white !important;
}
#reports-datatable_wrapper.dataTables_wrapper .dataTables_filter input{
    background-color: white !important;
    border: 1px solid #ddd !important;
}
@media screen and (max-width: 767px){
    #reports-container-filter {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
    }
}
@media screen and (max-width: 640px) {
    #reports-container-filter {
        float: none !important;
        text-align: center;
    }
}