.navbar-brand {
    height: auto;
    padding: 0px;
}

.navbar {
    margin-bottom: 0px;
}

body .navbar-text {
    color: white !important;
    font-weight: bold;
    font-size: 19px;
}

.navbar-toggle-pamplona {
    position: relative;
    float: right;
    padding: 0px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle-pamplona .navbar-text {
    font-size: 17px;
}

@media (min-width: 768px){
    .navbar-toggle-pamplona {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-header {
         display: inherit;
         float: inherit;
    }
}