.oculto
{
    display: none;
}

.tamboreo-filter-clear-do{
    position: absolute;
    right: 40px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#tamboreo-datatable .dataTables_empty {
    text-align: center;
}