div.remember {
	margin-top: 7px;
	color: #969696;
}

div.remember label {
	padding-top: 15px;
}

div.forgot {
	margin-top: 7px;
	color: #dadada;
}

footer {
    background: url("../img/feature-gradient.png") no-repeat scroll center 100% white;
    color: #B7B7B7;
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}

footer a {
	margin-left: 10px;
	margin-right: 10px;
}

table.signup td {
	padding: 10px;
}

table.signup .alert {
	margin-bottom: 0;
    margin-top: 3px;
}

table.perms select {
	margin-top: 5px;
	margin-right: 10px;
}

table.perms label {
	margin-right: 10px;
}

div.main-container {
	min-height: 450px;
}

/*#militants-search-val{*/
	/*text-transform: lowercase;*/
/*}*/
.color-theme{
	color: #337ab7;
}

.text-center{
	text-align: center !important;
}

.simpatizante{
	color: #31B0D5 !important;
}

.no-simpatizante{
	color: #C9302C !important;
}

.indeciso{
	color: #EC971F !important;
}

.info-militant{
	cursor: pointer;
}

.militant-info-label{
	font-weight: normal;
}

.modal-tab-content{
	padding: 10px;
	border-bottom: 1px solid #d5d5d5;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

table.dataTable.no-footer{
	border-bottom: none;
}
.dataTables_wrapper .dataTables_filter{
	width: 100%;
	float: left !important;
	margin-left: 0px;
	padding: 5px;
	background-color: #f9f9f9;
	border-bottom: 1px solid #777;
}

.dataTables_wrapper .dataTables_filter label{
	width: 100%;
	margin-bottom: 0px;
}

.dataTables_wrapper .dataTables_filter input {
	margin-left: 0px;
	width: 100%;
	border: none;
	background-color: #f9f9f9;
}
.dataTables_wrapper .dataTables_filter input:focus {
	background-color: #f9f9f9;
	outline: 0;
}
p.navbar-brand{
	margin: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
	border: 1px solid #ddd;
	background-color: inherit;
	background:none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	display: inherit;
	min-width: 0px;
	padding: 0px;
	margin-left: -2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	color: #333 !important;
	border: 1px solid transparent;
	border-radius: 2px;
}

.poll-container{
	border: 1px solid #d5d5d5;
	padding: 8px;
	border-radius: 6px;
}

.questions-container{
	overflow-y: auto;
	padding-right: 10px;
	margin-bottom: 5px;
}

.label-error{
	font-size: small;
	color: #A00D0D;
	font-style: italic;
}
.text-select-any{
	text-align: center;
	color: gray;
	font-size: 17px;
}

.label-note{
	font-size: small;
	color: #838383;
	font-style: italic;
}

.msg{
	padding: 15px;
}

.person-info-label{
	width: 100%;
}

a.dt-button.active:not(.disabled) :after{
	content: '\f00c';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin:0px 0px 0px 10px;
	text-decoration:none;
	position: absolute;
	right: 10px;
}

.person-padron-label{
	font-weight: normal;
}

.person-toolbar{
	padding-bottom: 10px;
}

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	content: "\25B2";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	font-size: x-small;
}
.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\25BC";    /* adjust as needed, taken from bootstrap.css */
}

.text-uppercase{
	text-transform: uppercase;
}

.person-info-aviso{
	color: #163758;
	float: right;
	font-style: italic;
	margin-right: 15px;
}

.person-info-error{
	color: firebrick;
	float: right;
	font-style: italic;
	margin-right: 15px;
}

.person-field-required {
	/*border: 1px solid #337ab7;*/
}

.person-radio-required {
	color: #337ab7;
	font-weight: bold !important;
}

.person-required {
	color: #337ab7;
	font-weight: bold;
}

/*.person-field-required:after {
	font-family: 'Glyphicons Halflings';
	content: "\2217";
	float: right;
	font-weight: bold;
	font-size: x-small;
	color: black;
	position: relative;
	bottom: 31px;
	right: -10px;
}*/

#militant-data label {
	padding: 5px 10px;
	line-height: 1.5;
}
#militant-data label.control-label{
	font-size: 13px;
}
#militant-data .form-control{
	border: 1px solid lightgrey;
	font-weight: normal;
	background-color: #eee;
}
.container-float:before,
.container-float:after {
	content:"";
	display:table;
}
.container-float:after {
	clear:both;
}

.modal .selectize-input{
	height: 30px;
}
.modal .selectize-dropdown {
	font-size: 10px;
}

/*@media (min-width: 979px) {

	#midCol.affix-top {
		position:fixed;
		/*width:265px;*/
		/*margin-right:10px;

	}

	#midCol.affix {
		position:static;
		/*width:100%;*/
	/*}

}

@media (min-width: 767px) {
	.affix,.affix-top {
		position:fixed;
	}
}*/

.datatable-scroll{
	overflow-x: auto;
	clear: both;
}

.small-tabs > li > a{
	padding: 5px 10px;
}

.leaflet-topright-control a{
	width: 36px;
	height: 36px;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}
.leaflet-topright-control a:hover{
	background-color: #f4f4f4;
}
.leaflet-topright-control {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	background: #fff;
	border-radius: 5px;
}

.leaflet-control-info a{
	background-image: url(../img/info.png);
}

.field-required {
	color: #337ab7;
	font-weight: bold;
}

@media print
{
	.no-print
	{
		display: none !important;
		height: 0;
	}
}
@media screen and (max-width: 767px){
	ul.nav li#menu-usuario-perfil {
		float: right!important;
		margin-right: 0px;
	}
}

.navbar-top-links>li>a {
	/*padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;*/
	color: #999;
}

.navbar-top-links>li>a:hover,
.navbar-top-links>li>a:focus,
.navbar-top-links>.open>a,
.navbar-top-links>.open>a:hover,
.navbar-top-links>.open>a:focus {
	color: #fff;
	background-color: #000;
}

.sidebar{
	background-color: #222;
	transition: 1s;
}

.sidebar .sidebar-nav.navbar-collapse {
	/*width: 100%;*/
	transition: 1s;
	margin-left: 0px;
}

.toggled .sidebar{
	margin-left: 0px;
	background-color: #222;
	transition: 1s;
}
.toggled #page-wrapper{
	margin-left: 0px;
	transition: 1s;
}

#page-wrapper{
	transition: 1s;
}
@media(min-width:768px) {

	.toggled .sidebar{
		margin-left: -250px;
	}
}
.page-header {
	margin-top: 15px;
	font-size: 30px;
}

.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: 0.755em;
}
.no-wrap {
	white-space: nowrap;
}
table.dataTable thead .sorting_asc {
	background-image: inherit;
}

.wizard > .steps > ul > li {
	width: auto !important;
}

.white-bg {
	background-color: rgba(233, 106, 8, 0.6);
	color: white;
}

.navbar-fixed-top, .navbar-static-top{
	background: #E96613 !important;
}
.m-r-sm{
	color: white;
}
.nav.navbar-right > li > a{
	color: white;
}

#menu-usuario-perfil .dropdown-menu{
	background: #E96613 !important;
}

#menu-usuario-perfil .dropdown-menu li a{
	color: white;
	background: #E96613 !important;
}

#side-menu, #side-menu .nav-header, #side-menu .active{
	background:#05141C;
}
.nav > li.active{
	border-left:4px solid #94c01e !important;
}
#wrapper {
	background:#05141C;
}

.btn-primary{
	background-color: #95C01E;
	border-color: #95C01E;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus{
	background-color: #95C01E;
	border-color: #95C01E;
}

.page-heading h2 {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}
.page-heading {
	padding: 0px 10px 0px 10px !important;
}
.bg-white{
	background-color: white;
}

.container-montos {
	background-color: #ececec;
	padding: 15px;
	text-align: center;
}
.montos-numero {
	font-size: 30px;
	font-weight: bold;
}

.montos-descripcion {
	font-size: 11px;
	font-weight: bold;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #95C01E;
    border-color: #95C01E;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	background-color: #95C01E;
    border-color: #95C01E;
}

.dropdown-menu > li > a {
	color: #333;
}