#users-filter-clear-do{
    position: absolute;
    right: 40px;
    z-index: 10;
    top: 0px;
    height: 33px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#users-filter-text{
    padding-right: 30px;
}
.users-scroll{
    overflow-x: auto;
    clear: both;
}

#users-datatable-container th, #users-datatable-container td{
    white-space: nowrap;
}
#users-datatable tr{
    cursor: pointer;
}
#user-info-modal .row {
    margin-bottom: 5px;
}
#user-info-modal .min-margin{
    padding-right: 5px;
    padding-left: 0px;
}

#users-datatable-container div.dt-buttons {
    /*position: absolute;*/
    /*right: 28px;*/
    /*top: -55px;*/
    float: right;
    text-align: right;
}

.user-toolbar{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.user-required {
    color: #337ab7;
    font-weight: bold;
}

.onoffswitch {
    width: 70px;
}
.onoffswitch-inner:before {
    content: "Activo" !important;
}

.onoffswitch-inner:after {
    content: "Inactivo" !important;
}

.onoffswitch-switch {
    right: 52px;
}

