{{ content() }}

<div class="container-fluid" align="center" >

	{{ form('class': 'form-search') }}

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading" style="position:relative;">
					<img alt="Partido Acción Nacional" class="pull-left" src="/img/pan_.jpg" height="24" style="position: absolute; top: 6px; left: 10px;">
					<h3 class="panel-title">Sistema de Registro de Asamblea General</h3>
				</div>
				<div class="panel-body">
					<!--form role="form"sdfsdf-->
						<fieldset>
							<div class="form-group">
								<!--input class="form-control" placeholder="Usuario" name="email" type="email" autofocus-->
								{{ form.render('user') }}
							</div>
							<div class="form-group">
								<!--input class="form-control" placeholder="Contraseña" name="password" type="password" value=""-->
								{{ form.render('password') }}
							</div>
							<!-- Change this to a button or input when using this as a form -->
							<!--a href="index.html" class="btn btn-lg btn-success btn-block">Entrar</a-->
							{{ form.render('Entrar') }}



							<!--hr>

							<div class="forgot">
								{{ link_to("session/forgotPassword", "Olvidé mi contraseña") }}
							</div-->
						</fieldset>
					<!--/form-->
				</div>
			</div>
		</div>
		<div class="col-md-4">
	</div>

	</form>

</div>

